
  <div class="userData">
  <h2>Welcome {{userData?.name}}</h2>
  <b>Email</b>: {{userData?.email}}
  <br/>
  <b>Provider</b>: {{userData?.provider}}
  <br/>
  <b>Token</b>: {{userData?.token}}
  <br/>
  <b>ID</b>: {{userData?.provider_id}}
  <br/>
  <img [src]="userData?.provider_pic" *ngIf="userData?.provider_pic" />
  <br/>
  <br/>
  <button (click)='logout()' class="btn  btn-logout"><span class="fa fa-sign-out"></span>  Logout</button>
</div>

<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 6!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p>